.slider-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .tarif-card {
    min-width: 300px; /* Kart genişliği, isteğe bağlı olarak değiştirilebilir */
    margin: 0 10px;
    border: 1px solid #ddd; /* İstediğiniz bir sınır rengi */
    border-radius: 5px;
  }
  
  .inner-content {
    padding: 15px;
  }
  