*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}


.customcontainer{
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
}
.middlecontainer{
    max-width: 1050px;
    width: 1050px;
    margin: 0 auto;
}
.main-middle-content{
    background-color: #e5e5e5;
}

.header-top{
    background-color: #232331;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.top-left{
    ul{
        display: flex;
        gap: 15px;
        margin-top: 15px;
        padding-left: 50px;
        li{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 3px;
            color:white;
            font-size: 13px;
        }
    }
}

.head-icons{
    color: white;
    display: flex;
    gap: 15px;
    padding-right: 50px;
    font-size: 14px;
    :hover{
        color: #f15834;
        transition: 0.5s;
        cursor: pointer;
    }
}
//header top black side ending

.header-lower{
    height: 70px;
    display: flex;
    align-items: center;
    padding-left: 50px;
    gap: 150px;
    justify-content: space-between;
    
}

.main-menu{
    padding-right: 160px;
    .navigation{
        display: flex;
        gap: 20px;
        padding: 0;
        margin-bottom: 0;
    }
}

.nav-name{
    font-size: 13px;
    text-decoration: none;
    font-weight: 600;
    color: black;
    cursor: pointer;
       
}
.nav-name:hover{
    color: #f15834;
    transition: 0.2s;
}

.outer-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}

.outer-box-item1, .outer-box-item2,.outer-box-item3,.outer-box-item4{
    display: flex;
    align-items: center;
    justify-content: center;
 
}
.person-icon-mobile{
  display: none;
}

.search-icon-head{
    font-size: 19px;
}

.login-tag{
    color: white;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 700;
    z-index: 999;
    text-decoration: none;

}
.login-btn{
    width: 100px;
    height: 71px;
    background-color: #f15834;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.login-btn::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  
  .login-btn:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .login-btn::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: #232331;
    transition: transform .4s ease-in-out;
  }

  @media (orientation: landscape) {
    .login-btn{
      grid-auto-flow: column;
      color: white;
    }
  }

  .img-card{
    img{
        object-fit: cover;
        max-width: 100%;
    }
  }
  //slider inside button
  .slick-prev{
    opacity: 40%;
    left: 100px;
    z-index: 99;
  }
  .slick-next{
    z-index: 99;
    right: 100px;
    opacity: 40% !important;

  }
 
  .slick-prev:before,
  .slick-next:before{
    color: rgb(249, 241, 241) !important;
    font-size: 45px;
  }

  .slick-next, .slick-prev:hover{
    opacity: 90% !important;
    color: rgba(240, 248, 255, 0.458);
  }
  .slick-dots{
    bottom: 10px;
    font-size: 50px;
    li{
        button{
            font-size: 10px !important;
        }
    }
  }
  .slick-dots li button:before{
    font-size: 10px;
  }

  .tracking-form{
    width: 1170px;
    height: 120px;
    background-color:#f15834;
    border-radius: 12px;
    background-image: url(https://limak.az/new_front/assets/revolution/images/object-1.png);
    background-repeat: no-repeat;
    display: inline-block;
  }
  .order-inf{
    width: 220px;
    height: 54px;
    text-align: center;
    position: relative;
    color: white;
    left: 50px;
    top: 26px;
    font-weight: 700;
    font-size: 28px;
  }

  .order-form{
    width: 864px;
    height: 70px;
    background-color: white;
    position: relative;
    bottom: 32px;
    left: 280px;
    border-radius: 10px;
  }

   //HEADER SEARCH INPUT
   .search-from{
    width: 300px;
    height: 50px;
    display: flex;
  }
  .search-input{
    width: 261px;
    height: 50px;
    right: 10px;
    top: 67px;
    position: absolute;
    padding-left: 15px;
    border: none;
    background-color: #f5f5f7;
    &:focus{
      outline:none;
      background-color: white;
    }
  }
  .search-input-icon{
    position: relative;
    top: 77px;
    right: 25px;
  }
  .search-input-group{
    position: relative;
  }
  .search-container{
    position: absolute;
    display: none;
    height: 50px;
    li{
      list-style-type: none;
    }
  }
  
  .search-link{
    text-decoration: none;
    color: black;
    height: 67px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .search-icon-head:hover .search-container{
    display: block;
    animation: slideUp 0.3s ease;
    z-index: 9999;
    cursor: pointer;
  }
  
  @keyframes slideUp {
    from {
        transform: translateY(100%); /* Başlangıç pozisyonu: aşağıda */
    }
    to {
        transform: translateY(0); /* Bitiş pozisyonu: yukarıda */
    }
}
.search-head-input{
  display: none;
}




  // CALCULATOR SECTION
    *input{
        outline: none;
    }
    *select{
        outline: none;
    }

    .calc-breadcamp-tag{
            text-decoration: none;
            color: black;
            &:hover{
                text-decoration: underline;
                color: #F05835;
            }
    }

  .calculator-main-pg{
    width: 1030px;
    height: 895px;
    }
    .calculator-block{
        width: 1030px;
        height: 695px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .calc-container{
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    .calc-head{
        width: 1030px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        h4{
            margin: 0;
        }
    }
    .calc-breadcamp{
        display: flex;
        list-style-type: none;
        gap: 10px;
        align-items: center;
        padding: 0;
        margin: 0;
    }
    .calc-card{
        width: 680px;
        height: 517px;
        background-color: white;
        border-radius: 10px;
    }
    .form-calc{
        width: 678px;
        height: 496px;
        padding: 40px 65px 50px;
    }

    .calc-input{
        width: 568px;
        height: 325px;
        margin-top: 25px;
        
    }

    .form-calc-head{
        display: flex;
        justify-content: space-between;
    }
    .form-calc-title{
        display: flex;
        gap: 10px;
        h3{
            font-size: 14px;
            font-weight: 700;
            line-height: 17px;

        }
        img{
            width: 17px;
            height: 16px;
        }
    }
    .calc-resetBtn{
        display: flex;
        align-items: center;
        gap: 10px;
        border: none;
        background-color: transparent;
        color: #878484;
        font-size: 14px;
        &:hover{
            cursor: pointer;
            text-decoration: underline;
        }
    }
    
    .input-group{
        display: flex;
        height: 40px;
        input{
            height: 40px;
            border: 1px solid  #dfdfdf; 
            border-bottom-left-radius: 5px;
            border-top-left-radius: 5px;
            &::placeholder{
                padding-left: 10px;
            }
            
        }
    }
    .input-weight, .input-en, .input-uzun, .input-height{
        button{
                border: 1px solid  #dfdfdf; 
                width: 70px;
                height: 40px;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                background: none;
        }
    }
    .input-count{
        width: 262px;
        height: 40px;
        border-radius: 5px;
        border: 1px solid #dfdfdf;
        &::placeholder{
            padding-left: 10px;
        }
    }
    .calc-total{
        display: flex;
        align-items: center;
        height: 40px;
        gap: 30px;
        border-radius: 5px;
        border: 1px solid #dfdfdf;
    }
    .total-label{
        border: 1px solid #dfdfdf;
        width: 64px;
        height: 40px;
        padding: 8px;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;

    }
    
    .form-calc-btn{
        width: 262px;
        height: 40px;
        background: linear-gradient(180deg,#FC7B5D 0%,#F05835 100%);
        font-size: 18px;
        border: none;
        border-radius: 5px;
        color: white;

    }

    .select-region, .select-filial{
        width: 262px;
        height: 40px;
        border: 1px solid #dfdfdf; 
        border-radius: 5px;
    }
    .select-region:nth-child(1){
        padding-left: 7px;
    }
    .select-filial:nth-child(1){
        padding-left: 7px;
    }

    .form-info{
        margin-top: 15px;
    }
   
    .all-count{
        font-weight: 800;
        font-size: 16px;
        width: 100px !important;
    }
    .form-exc-title{
        display: flex;
        align-items: center;
        gap: 10px;
        h3{
            font-size: 14px;
            font-weight: 700;
            display: flex;
            margin: 0;
        }
    }
    .form-exc-body{
        padding: 40px 35px 40px;
        background-color: white;
        border-radius: 8px;
        height: 517px;
    }
    .currency-type{
        width: 70px;
        height: 40px;
    }
    .currency-input-calc{
        width: 267px;

    }
    .currency-calc-form{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 35px;
    }
    .currency-form-info{
        font-size: 10px;
        color: #878484;

    }
    .daily-currency-info{
        width: 258px;
        height: 48px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img{
            width: 16px;
            height: 16px;
        }
    }
    .daily-curren-bord{
        border-bottom: 1px solid #e5e5e5;
    }
    .currency-type{
        border: 1px solid #e5e5e5;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }
    .currency-card-info{
        width: 1028;
        height: 156px;
        padding: 36px 54px;
        background-color: white;
        border-radius: 8px;
        p{
            color: #767676;
        }
    }
    .card-info-title{
        font-size: 20px;
        font-weight: 700;
    }

    #tariff-data-turkey{
        display: none;
    }
    #tariff-data-amerika{
        display: none;
    }




    
    // FORM INFO
    /* START TOOLTIP STYLES */
    [tooltip] {
    position: absolute; /* opinion 1 */
    }
  
  /* Applies to all tooltips */
  [tooltip]::before,
  [tooltip]::after {
    text-transform: none; /* opinion 2 */
    font-size: .9em; /* opinion 3 */
    line-height: 1;
    user-select: none;
    pointer-events: none;
    position: absolute;
    display: none;
    opacity: 0;
  }
  [tooltip]::before {
    content: '';
    border: 5px solid transparent; /* opinion 4 */
    z-index: 1001; /* absurdity 1 */
  }
  [tooltip]::after {
    content: attr(tooltip); /* magic! */
    
    /* most of the rest of this is opinion */
    font-family: Helvetica, sans-serif;
    text-align: center;
    
    /* 
      Let the content set the size of the tooltips 
      but this will also keep them from being obnoxious
      */
    width:180px;
    height:130px;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1ch 1.5ch;
    border-radius: .3ch;
    box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
    background: #333;
    color: #fff;
    z-index: 1000; /* absurdity 2 */
  }
  
  /* Make the tooltips respond to hover */
  [tooltip]:hover::before,
  [tooltip]:hover::after {
    display: block;
  }
  
  /* don't show empty tooltips */
  [tooltip='']::before,
  [tooltip='']::after {
    display: none !important;
  }
  
  /* FLOW: UP */
  [tooltip]:not([flow])::before,
  [tooltip][flow^="up"]::before {
    bottom: 100%;
    border-bottom-width: 0;
    border-top-color: #333;
  }
  [tooltip]:not([flow])::after,
  [tooltip][flow^="up"]::after {
    bottom: calc(100% + 5px);
  }
  [tooltip]:not([flow])::before,
  [tooltip]:not([flow])::after,
  [tooltip][flow^="up"]::before,
  [tooltip][flow^="up"]::after {
    left: 50%;
    transform: translate(-50%, -.5em);
  }
  
  
  /* KEYFRAMES */
  @keyframes tooltips-vert {
    to {
      opacity: .9;
      transform: translate(-50%, 0);
    }
  }
  
  @keyframes tooltips-horz {
    to {
      opacity: .9;
      transform: translate(0, -50%);
    }
  }
  
  /* FX All The Things */ 
  [tooltip]:not([flow]):hover::before,
  [tooltip]:not([flow]):hover::after,
  [tooltip][flow^="up"]:hover::before,
  [tooltip][flow^="up"]:hover::after {
    animation: tooltips-vert 300ms ease-out forwards;
  }


   // LOG IN MODAL DESIGN
   .modal-content{
    width: 720px;
    height: 530px;
  }
  #staticBackdrop{
    padding-right: 160px;
  }
  .login{
    padding-left: 50px;
  }
  .login-modal-head{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
  }
  .login-modal-head-title{
    font-size: 25px;
    font-weight: 700;
    margin: 0;
  }
  .login-form-action{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .login-email-input{
    width: 280px;
    height: 50px;
    border-radius: 8px;
    padding-left: 15px;
    border: 1px solid #9b9b9b;
    background-color: #8b8b8b21;
    &:focus{
      background-color: white;
      outline-color: #8b8b8b21;
    }
  }
  .login-password-input{
    position: relative;
  }
  .visibility-btn-password{
    cursor: pointer;
  }
  .hide-eye{
    background-image: url(https://limak.az/new_front/assets/img/icons/opened.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    padding: 12px;
    left: 245px;
    margin-top: 13px;
    
  }
  .text-right{
    a{
      display: flex;
      align-items: center;
      gap: 6px;
      font-size: 14px;
      color: #706f6f;
    }
  }
  .login-btn-modal{
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: linear-gradient(180deg,#FC7B5D 0%,#F05835 100%);
    border: none;
    color: white;
    font-weight: 700;
  }
  .register-btn-modal{
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg,#D1DDE8 0%,#C3CBD3 100%);
    font-weight: 700;
    border-radius: 8px;
    a{
      text-decoration: none;
      color: black;
    }
  }

  

 
  

  
  @media only screen and (max-width: 760px) {
    *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Nunito Sans', sans-serif;
    }
    .customcontainer{
          width: 375px;
          margin: 0;
          padding: 0;
     }
      .middlecontainer{
        max-width: 100%;
        width: 100%;
    }
    

    // HEADER
    .person-icon-mobile{
        display: flex;
        gap: 10px;
       }
       .hamburger-menu-icn{
        margin-top: 2px;
       }
       
        .header-top{
            display: none;
        }
        .header-lower {
            padding-left: 0;
            margin-left: 10px;
            display: flex;
            gap: 10px;
        }
        .outer-box{
            margin-right:5px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 12px;
        }
       
        .menu-order-btn{
          width: 255px;
          height: 40px;
          background-color: #f15834;
          border-radius: 5px;
          font-size: 18px;
          font-weight: 400;
          padding-left: 10px;
        }
        .nav-item{
          border-bottom: 1px solid;
          border-color: rgba(240, 241, 243, 0.292);
        }
        
        .outer-box-item4{
            display: none !important;
        }
        .main-menu{
            display: none;
        }
        .search-icon-head{
            i{
               font-size: 18px;
            }
        }
        .basket-svg{
            svg{
                width: 20px;
                padding-bottom: 2px;
            }
        }
        .menu-icon{
                font-size: 18px;
                padding-top: 2px;
            }
       
        #offcanvasNavbar {
            width: 80%;
            background-color: #232331;
        }
        .nav-item{
            a{
                color: white;
            }
        }
     
        .btn-close-mob-menu{
            color:#f15834;
            border: none;
            background-color: #232331;
            i{
                font-size: 25px;
            }
        }

        // SEARCH HEADER INPUT RESPONSIVE
        .search-input{
          width: 270px;
          height: 50px;
          top: 67px;
          position: absolute;
          padding-left: 15px;
          border: none;
          background-color: #f5f5f7;
          &:focus{
            outline:none;
            background-color: white;
          }
        }


        // CALCULATOR SECTION RESPONSIVE

        .calculator-main-pg{
            width: 355px;
            height: 1398px;
            }
            .calculator-block{
                width: 355px;
                height: 1098px;
                padding-top: 50px;
                padding-bottom: 50px;
            }

            .calc-card-row{
                display: flex;
                gap: 25px;
            }
            
            .calc-head{
                width: 355px;
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;
                padding-left: 10px;
                h4{
                    margin: 0;
                }
            }
            .calc-breadcamp{
                display: flex;
                list-style-type: none;
                gap: 10px;
                align-items: center;
                padding: 0;
                margin: 0;
            }
        
            .form-calc{
                width: 353px;
                height: 446px;
                padding: 20px 15px;
            }
            .calc-card{
                width: 355px;
                margin-left: 10px;
            }
            .calc-input{
                width: 343px;
                height: 368px;
                display: flex;
                flex-wrap: wrap;
                padding-left: 10px;
                div{
                    padding: 0;
                    height: 56px;
                }
            }
            .select-region, .select-filial{
                width: 162px;
                height: 40px;
            }
            .input-count{
                width: 162px;
                height: 40px;
            }
            .input-group{
                input{
                    width: 110px;
                    height: 40px;
                }
            }
            .input-weight, .input-en, .input-uzun, .input-height{
                button{
                        border: 1px solid  #dfdfdf; 
                        width: 53px;
                        height: 40px;
                        border-top-right-radius: 5px;
                        border-bottom-right-radius: 5px;
                        background: none;
                }
            }
            .calc-total{
                width: 300px;
                height: 40px;
                padding-top: 10px;
            }
            .total-label, .total-price{
                display: flex;
                align-items: center;
            }
            .total-label{
                span{
                padding-left: 10px;
                }
            }
            .all-count{
                font-weight: 600;
                font-size: 14px;
                width: 100px;
                height: 40px;
            }
            
           .calc-Btn{
            width: 343px;
            height: 66px;
            display: flex;
            justify-content: center;
            align-items: center;
           }
           .form-calc-btn{
            width: 320px;
           }
           .calc-info-icn{
            display: flex;
            align-items: center;
            justify-content: center;
           }
           .currency-card{
            width: 355px;
            margin-left: 10px;
           }

           .currency-type{
            border: 1px solid #e5e5e5;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            }
            .currency-card-info{
            padding: 18px 27px;
            width: 355px;
            background-color: white;
            border-radius: 8px;
            margin-left: 10px;
            p{
                color: #767676;
                font-size: 14px;
            }
        }

        // MODAL RESPONSIVE LOG IN MODAL DESIGN
   .modal-content{
    width: 353px;
    height: 700px;
  }
  #staticBackdrop{
    padding-right: 160px;
  }
  .login{
    padding-left: 0px;
  }
  .login-modal-head{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 0px;
    padding-left: 10px;
  }
  .login-modal-head-title{
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    padding-left: 10px;
  }
  .login-form-action{
    margin-top: 50px;
    display: flex;
    padding-left: 5px;
    flex-direction: column;
  }
  .login-email-input{
    width: 310px;
    height: 40px;
    border-radius: 8px;
    padding-left: 15px;
    border: 1px solid #9b9b9b;
    background-color: #8b8b8b21;
    &:focus{
      background-color: white;
      outline-color: #8b8b8b21;
    }
  }
  .login-password-input{
    position: relative;
  }
  .visibility-btn-password{
    cursor: pointer;
  }
  .hide-eye{
    background-image: url(https://limak.az/new_front/assets/img/icons/opened.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    padding: 12px;
    left: 269px;
    margin-top: 9px;
    
  }
  .text-right{
    a{
      display: flex;
      align-items: center;
      gap: 6px;
      font-size: 14px;
      color: #706f6f;
    }
  }
  .login-btn-modal{
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: linear-gradient(180deg,#FC7B5D 0%,#F05835 100%);
    border: none;
    color: white;
    font-weight: 700;
  }
  .register-btn-modal{
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg,#D1DDE8 0%,#C3CBD3 100%);
    font-weight: 700;
    border-radius: 8px;
    a{
      text-decoration: none;
      color: black;
    }
  }
  .remember-me-radio{
    padding-left: 3px;
  }
  .modal-footer-Btn{
    margin-right: 5px;
  }
  .modal-card-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
        
}