*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}


.customcontainer{
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
}
.middlecontainer{
    max-width: 1050px;
    width: 1050px;
    margin: 0 auto;
}
.main-middle-content{
    background-color: #e5e5e5;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

//header top black side ----- HEADER SECTION
.header-top{
    background-color: #232331;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.top-left{
    ul{
        display: flex;
        gap: 15px;
        margin-top: 15px;
        padding-left: 50px;
        li{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 3px;
            color:white;
            font-size: 13px;
        }
    }
}

.head-icons{
    color: white;
    display: flex;
    gap: 15px;
    padding-right: 50px;
    font-size: 14px;
    :hover{
        color: #f15834;
        transition: 0.5s;
        cursor: pointer;
    }
}
//header top black side ending

.header-lower{
    height: 70px;
    display: flex;
    align-items: center;
    padding-left: 50px;
    gap: 150px;
    justify-content: space-between;
    
}

.main-menu{
    padding-right: 160px;
    .navigation{
        display: flex;
        gap: 20px;
        padding: 0;
        margin-bottom: 0;
    }
}

.nav-name{
    font-size: 13px;
    text-decoration: none;
    font-weight: 600;
    color: black;
    cursor: pointer;
       
}
.nav-name:hover{
    color: #f15834;
    transition: 0.2s;
}

.outer-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
}

.outer-box-item1, .outer-box-item2,.outer-box-item3,.outer-box-item4{
    display: flex;
    align-items: center;
    justify-content: center;
 
}
.person-icon-mobile{
  display: none;
}

.search-icon-head{
    font-size: 19px;
}

.login-tag{
    color: white;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 700;
    z-index: 999;
    text-decoration: none;

}
.login-btn{
    width: 100px;
    height: 71px;
    background-color: #f15834;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.login-btn::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  
  .login-btn:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .login-btn::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: #232331;
    transition: transform .4s ease-in-out;
  }

  @media (orientation: landscape) {
    .login-btn{
      grid-auto-flow: column;
      color: white;
    }
  }

  .img-card{
    img{
        object-fit: cover;
        max-width: 100%;
    }
  }
  //slider inside button
  .slick-prev{
    opacity: 40%;
    left: 100px;
    z-index: 99;
  }
  .slick-next{
    z-index: 99;
    right: 100px;
    opacity: 40% !important;

  }
 
  .slick-prev:before,
  .slick-next:before{
    color: rgb(249, 241, 241) !important;
    font-size: 45px;
  }

  .slick-next, .slick-prev:hover{
    opacity: 90% !important;
    color: rgba(240, 248, 255, 0.458);
  }
  .slick-dots{
    bottom: 10px;
    font-size: 50px;
    li{
        button{
            font-size: 10px !important;
        }
    }
  }
  .slick-dots li button:before{
    font-size: 10px;
  }

  .tracking-form{
    width: 1170px;
    height: 120px;
    background-color:#f15834;
    border-radius: 12px;
    background-image: url(https://limak.az/new_front/assets/revolution/images/object-1.png);
    background-repeat: no-repeat;
    display: inline-block;
  }
  .order-inf{
    width: 220px;
    height: 54px;
    text-align: center;
    position: relative;
    color: white;
    left: 50px;
    top: 26px;
    font-weight: 700;
    font-size: 28px;
  }

  .order-form{
    width: 864px;
    height: 70px;
    background-color: white;
    position: relative;
    bottom: 32px;
    left: 280px;
    border-radius: 10px;
  }

  // MIDDLE CONTENT 

  .middle-panel{
    width: 100%;
    height: 1452px;
  }

  .middle-panel{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;

  }

  .bn-img-l{
    img{
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 203px;
        height: 528px;
    }
    top: 165px;
    position:sticky;
    cursor: pointer;
    padding: 20px;
  }

  .bn-img-2{
    top: 165px;
    position:sticky;
    cursor: pointer;
    padding: 20px;
    img{
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 203px;
        height: 528px;
    }
    
  }


  .left-banner, .right-banner{
    position: relative;
    height: 1400px;
  }

  

  .aside-card-body{
    background-color: white;
    border-radius: 8px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 15px;


  }
  .userPanel-head{
    display: flex;
    justify-content: space-between;
    margin-top: 42px;
    margin-bottom: 22px;
    h4{
      font-weight: 700;
      padding-top: 10px;
      font-size: 20px;
    }
  }
  .userPanel-breadcamp{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 10px;
    padding: 0;
    margin: 0;
    font-size: 14px;
    a{
        text-decoration: none;
        color: black;
        &:hover{
            text-decoration: underline;
            color: #f15834;
        }
    }
  }
  .user-left-block{
    height: 1244px;
  }
  .list-group-item{
    display: flex;
    align-items: center;
    gap: 10px;
    border: none;

  }
  .user-nav{
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .user-nav-title{
    font-size: 14px;
    font-weight: 600;
    margin: 0;
  }

  .upper{
    text-transform: uppercase;
  }
  .list-item-tag{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .list-group-item{
    padding: 0;
    a{
        text-decoration: none;
        color: black;
    }
  }
  .list-item-hover:hover{
    color: #dc3545;
  }
  .user-nav-red{
    color: red;
  }
  .family-new-sticker{
    color: white;
    background-color: red;
    font-size: 12px;
    font-weight: 700;
    padding: 2px 6px;
    border-radius: 10px;
    line-height: 1;
  }
  .user-nav-group{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .user-nav-group-label{
    font-size: 14px;
  }
  .progress{
    width: 201px;
    margin-left: 2px;
    background-color: rgba(135, 130, 128, 0.268);
  }
  .progress-bar{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .user-left-block{
    color: white;
  }
  .aside-nav{
    margin-top: 10px;
    padding-top: 26px;
    border-top: 1px solid rgba(129, 125, 125, 0.607);
    border-radius: 0;
    display: flex;
    gap: 15px;
  }
  .aside-nav-title{
    font-size: 16px;
    font-weight: 600;
    margin: 0;
  }
  .aside-nav-tag{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .list-group-item-middle{
    a{
        display: flex;
        justify-content: start;
        gap: 10px;
        text-decoration: none;
        color: #373736;
    }
    
  }
  .aside-account{
    margin-top: 10px;
    padding-top: 26px;
    border-top: 1px solid rgba(129, 125, 125, 0.607);
    border-radius: 0;
    display: flex;
    gap: 15px;
  }
  .log-content{
    width: 745px;
    height: 534px;
  }
  .dashboard-card{
    width: 226px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: white;
    border-radius: 12px;
    
  }
  .dashboard-main-row{
    display: flex;
    row-gap: 20px;
  }
  .dashboard-card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        width: 36px;
        height: 42px;
        text-align: center;
    }
  }
  .dashboard-card:hover{
    .dashboard-card-icon{
        transform: scale(1.5);
        transition: all 0.3s ease-in-out;
    }
    .dashboard-card-title{
        color:#f15834;
        transition: all 0.2s ease-in-out;
    }
  }
  .dashboard-card-icon{
    margin-bottom: 35px;
  }
  .dashboard-class-link{
    text-decoration: none;
    color: black;
  }
  .dashboard-card-title{
    font-size: 16px;
    font-weight: 600;
    margin: 0;
  }
  .panel-banner-img{
    width: 724px;
    margin-top: 30px;
  }
  .aside-card-currency{
    width: 226px;
    height: 395px;
    margin-top: 25px;
    padding: 20px !important;
  }
  
    .form-calc-title{
      display: flex;
      align-items: center;
      color: black;
      gap: 15px;
      h3{
          font-size: 14px;
          font-weight: 700;
          line-height: 17px;
          margin: 0;

      }
    }
    .input-group-currency{
      width: 186px;
      display: flex;
      border: 1px solid ;
      input{
          width: 120px;
          height: 40px;
          border: none;
          background-color: #f5f5f7;
          border-top-left-radius: 8px;
          border-bottom-left-radius: 8px;
          &::placeholder{
              padding-left: 15px;
          }
        
      }
    }
    .input-group-append{
      select{
          width: 64px;
          height: 40px;
          border: none;
          border-left: 1px solid rgb(175, 175, 170);
          background-color: #f5f5f7;
          border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          padding-left: 12px;
      }
    }
    .form-cur-calc{
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      gap: 15px;
    }
    .form-exc-note{
      font-size: 10px;
      color: black;
      margin-top: 15px;
    }
    .daily-currency-info{
        width: 180px;
        height: 48px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: black;
        img{
            width: 16px;
            height: 16px;
        }
    }
    .daily-curren-bord{
        border-bottom: 1px solid #e5e5e5;
    }
    .currency-type{
        border: 1px solid #e5e5e5;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }
    .currency-card-info{
        width: 1028;
        height: 156px;
        padding: 36px 54px;
        background-color: white;
        border-radius: 8px;
        p{
            color: #767676;
        }
    }
    .card-info-title{
    font-size: 20px;
    font-weight: 700;
    }

    // LOGOUT MODAL DESIGN
    .modal-footer-logout{
      display: flex;
      justify-content: space-around;
      padding-bottom: 20px;
      padding-top: 20px;
    }
    .btn-xeyr{
      width: 194px;
      height: 50px;
      cursor: pointer;
      color: white;
      background: linear-gradient(180deg,#f15834 0%,#f15834 100%);
      border-radius: 8px;
      border: none;
      font-weight: 700;
      &:hover{
      background-color: #f15834;

      }
    }
    .btn-beli{
      width: 194px;
      height: 50px;
      cursor: pointer;
      color: white;
      background: linear-gradient(180deg,#55b3ff 0%,#058fff 100%);
      border-radius: 8px;
      border: none;
      font-weight: 700;
    }
    .modal-logout-head{
      display: flex;
      justify-content: space-between;
      padding: 26px;
      border-bottom: 1px solid #37373632;
    }
    .logout-modal-title{
      color: black;
      border-left: 5px solid #f15834;
      padding-left: 15px;
    }
    .logout-modal-content{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 25px;
      img{
        width: 156px;
        height: 167px;
      }
    }
    .logout-content-title{
      color: black;
      font-size: 18px;
      font-weight: 800;
    }
  
   
   
   //HEADER SEARCH INPUT
   .search-from{
    width: 300px;
    height: 50px;
    display: flex;
  }
  .search-input{
    width: 261px;
    height: 50px;
    right: 10px;
    top: 67px;
    position: absolute;
    padding-left: 15px;
    border: none;
    background-color: #f5f5f7;
    &:focus{
      outline:none;
      background-color: white;
    }
  }
  .search-input-icon{
    position: relative;
    top: 77px;
    right: 25px;
  }
  .search-input-group{
    position: relative;
  }
  .search-container{
    position: absolute;
    display: none;
    height: 50px;
    li{
      list-style-type: none;
    }
  }
  
  .search-link{
    text-decoration: none;
    color: black;
    height: 67px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .search-icon-head:hover .search-container{
    display: block;
    animation: slideUp 0.3s ease;
    z-index: 9999;
    cursor: pointer;
  }
  
  @keyframes slideUp {
    from {
        transform: translateY(100%); /* Başlangıç pozisyonu: aşağıda */
    }
    to {
        transform: translateY(0); /* Bitiş pozisyonu: yukarıda */
    }
}
.search-head-input{
  display: none;
}
  
  




  // Mobile Responsive Design

  @media only screen and (max-width: 760px) {
    *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Nunito Sans', sans-serif;
    }
    .customcontainer{
          width: 100%;
          margin: 0;
          padding: 0;
     }
      .middlecontainer{
        max-width: 100%;
        width: 100%;
    }
    

    // HEADER
    .person-icon-mobile{
        display: flex;
        gap: 10px;
       }
       .hamburger-menu-icn{
        margin-top: 2px;
       }
       
        .header-top{
            display: none;
        }
        .header-lower {
            padding-left: 0;
            margin-left: 10px;
            display: flex;
            gap: 10px;
        }
        .outer-box{
            margin-right:5px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 12px;
        }
       
        .menu-order-btn{
          width: 255px;
          height: 40px;
          background-color: #f15834;
          border-radius: 5px;
          font-size: 18px;
          font-weight: 400;
          padding-left: 10px;
        }
        .nav-item{
          border-bottom: 1px solid;
          border-color: rgba(240, 241, 243, 0.292);
        }
        
        .outer-box-item4{
            display: none !important;
        }
        .main-menu{
            display: none;
        }
        .search-icon-head{
            i{
               font-size: 18px;
            }
        }
        .basket-svg{
            svg{
                width: 20px;
                padding-bottom: 2px;
            }
        }
        .menu-icon{
                font-size: 18px;
                padding-top: 2px;
            }
       
        #offcanvasNavbar {
            width: 80%;
            background-color: #232331;
        }
        .nav-item{
            a{
                color: white;
            }
        }
     
        .btn-close-mob-menu{
            color:#f15834;
            border: none;
            background-color: #232331;
            i{
                font-size: 25px;
            }
        }


        // ISTIFADECI PANEL RESPONSIVE DESIGN MAIN PAGE

        .userPanel-breadcamp{
          padding-left: 5px;
        }
        .userPanel-head{
          h4{
            font-size: 18px;
          }
        }

        .middle-panel{
          width: 355px;
          height: 900px;
        }
        .left-banner, .right-banner{
          display: none;
        }
        .aside-card-body{
          display: block;
        }
        .user-left-block{
          display: none;
        }
        .panel-banner, .panel-banner-img{
          width: 335px;
          height: 60px;
          margin: 0;
          padding-left: 10px;
        }
        .dashboard, .log-content{
          width: 355px;
          height: 604px;
        }
        .dashboard-main-row{
          display: flex;
          flex-direction: column;
          width: 355px;
          height: 604px;
          gap: 15px;          
        }

        .dashboard-card{
          width: 156px;
          height: 180px;
        }
        .dashboard-card-title{
          text-align: center;
          font-size: 14px;
          font-weight: 700;
        }


        // USER ICON MENU RESPONSIVE
        .offcanvas{
          width: 270px !important;
        }
        .offcanvas-body{
          padding-top: 0;
        }
        .aside-card-mobile{
          width: 250px;
        }

        // LOGOUT MODAL MOBILE RESPONSIVE
        .btn-xeyr, .btn-beli{
          width: 150px;
          height: 50px;
        }
        
       


    }