.footerclas {
  width: 100%;
  height: 250px;
  background-color: #373736;
  display: flex;
  justify-content: center;
  padding: 52px;
}

.container-class {
  height: 180px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer-main {
  width: 1030px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.footer-left {
  display: flex;
  flex-direction: column;
}
.footer-left a {
  text-decoration: none;
}

.footer-menu {
  display: flex;
}
.footer-menu a:hover {
  text-decoration: underline;
}

.footer-logo {
  padding-bottom: 15px;
}
.footer-logo img {
  width: 140px;
  height: 32px;
}

.footer-app {
  display: flex;
  margin-top: 15px;
  gap: 20px;
}

.footer-menu-col {
  width: 170px;
  height: 90px;
  gap: 5px;
  display: flex;
  flex-direction: column;
  padding-right: 10px;
}
.footer-menu-col a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

.footer-right {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-bottom: 15px;
}

.footer-social {
  display: flex;
  gap: 15px;
}
.footer-social a {
  text-decoration: none;
}
.footer-social img {
  width: 25px;
  height: 25px;
}

.footer-hotline {
  padding-left: 38px;
}

.footer-bottom {
  width: 1030px !important;
  height: 48px !important;
}

.footer-copy {
  padding-top: 20px;
  height: 48px;
}
.footer-copy span {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
}
.footer-copy span a {
  text-decoration: none;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
}

.footer-copy span a:hover {
  text-decoration: underline;
}

.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-payment {
  display: flex;
  gap: 20px;
  padding-top: 10px;
}

.footer-hotline-mobile {
  display: none;
}

.footer-social-mobile {
  display: none;
}

.footer-app-mobile {
  display: none;
}

@media only screen and (max-width: 760px) {
  .footerclas {
    height: 475px;
    background-color: #373736;
    border-radius: 5px;
    padding: 20px;
  }
  .container-class {
    display: flex;
    width: 375px;
  }
  .footer-main {
    width: 347px;
    height: 348px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .footer-left {
    width: 335px;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
  }
  .footer-left img {
    width: 120px;
    height: 32px;
  }
  .footer-hotline-mobile {
    display: block;
  }
  .footer-app {
    display: none;
  }
  .footer-right {
    display: none;
  }
  .footer-social-mobile {
    display: block;
  }
  .footer-social-mobile a {
    text-decoration: none;
  }
  .footer-social-mobile img {
    width: 25px;
    height: 25px;
  }
  .footer-menu {
    display: flex;
    width: 357px !important;
    height: 180px;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 25px;
  }
  .footer-menu-col {
    width: 150px;
    height: 90px;
    gap: 5px;
    display: flex;
    padding: 0;
  }
  .footer-menu-col a {
    text-decoration: none;
    font-size: 15px;
    color: #cfcece;
    padding-left: 30px;
  }
  .footer-app-mobile {
    display: flex;
    margin-top: 20px;
  }
  .footer-app-mobile img {
    width: 162px;
    height: 42px;
  }
  .footer-bottom {
    width: 352px !important;
    height: 61px !important;
    border-top: 1px solid rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px !important;
  }
  .footer-payment {
    display: flex;
    gap: 20px;
  }
  .footer-payment img {
    width: 60px;
    height: 30px;
  }
  .footer-copy {
    width: 162px;
    height: 44px;
    padding: 0;
    margin-top: 18px;
  }
  .footer-copy span {
    font-size: 12px;
  }
}/*# sourceMappingURL=footer.css.map */