* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

.customcontainer {
  width: 1519px;
  margin: 0;
  padding: 0;
  display: block;
}

.middlecontainer {
  max-width: 1050px;
  width: 2000px;
  margin: 0 auto;
}

.header-top {
  background-color: #232331;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-left ul {
  display: flex;
  gap: 15px;
  margin-top: 15px;
  padding-left: 50px;
}
.top-left ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  color: white;
  font-size: 13px;
}

.head-icons {
  color: white;
  display: flex;
  gap: 15px;
  padding-right: 50px;
  font-size: 14px;
}
.head-icons :hover {
  color: #f15834;
  transition: 0.5s;
  cursor: pointer;
}

.header-lower {
  height: 70px;
  display: flex;
  align-items: center;
  padding-left: 50px;
  gap: 150px;
  justify-content: space-between;
}

.main-menu {
  padding-right: 160px;
}
.main-menu .navigation {
  display: flex;
  gap: 20px;
  padding: 0;
  margin-bottom: 0;
}

.nav-name {
  font-size: 13px;
  text-decoration: none;
  font-weight: 600;
  color: black;
  cursor: pointer;
}

.nav-name:hover {
  color: #f15834;
  transition: 0.2s;
}

.outer-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.outer-box-item1, .outer-box-item2, .outer-box-item3, .outer-box-item4 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.person-icon-mobile {
  display: none;
}

.search-icon-head {
  font-size: 19px;
}

.login-tag {
  color: white;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 700;
  z-index: 999;
  text-decoration: none;
}

.login-btn {
  width: 100px;
  height: 71px;
  background-color: #f15834;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.login-btn::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

.login-btn:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.login-btn::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: #232331;
  transition: transform 0.4s ease-in-out;
}

@media (orientation: landscape) {
  .login-btn {
    grid-auto-flow: column;
    color: white;
  }
}
.img-card img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}

.slick-prev {
  opacity: 40%;
  left: 100px;
  z-index: 99;
}

.slick-next {
  z-index: 99;
  right: 100px;
  opacity: 40% !important;
}

.slick-prev:before,
.slick-next:before {
  color: rgb(249, 241, 241) !important;
  font-size: 45px;
}

.slick-next, .slick-prev:hover {
  opacity: 90% !important;
  color: rgba(240, 248, 255, 0.458);
}

.slick-dots {
  bottom: 10px;
  font-size: 50px;
}
.slick-dots li button {
  font-size: 10px !important;
}

.slick-dots li button:before {
  font-size: 10px;
}

.tracking-form {
  width: 1170px;
  height: 120px;
  background-color: #f15834;
  border-radius: 12px;
  background-image: url(https://limak.az/new_front/assets/revolution/images/object-1.png);
  background-repeat: no-repeat;
  display: inline-block;
}

.order-inf {
  width: 220px;
  height: 54px;
  text-align: center;
  position: relative;
  color: white;
  left: 50px;
  top: 26px;
  font-weight: 700;
  font-size: 28px;
}

.order-form {
  width: 864px;
  height: 70px;
  background-color: white;
  position: relative;
  bottom: 32px;
  left: 280px;
  border-radius: 10px;
}

.main-middle-content {
  background-color: #e5e5e5;
  overflow: hidden;
}

.form-inp {
  width: 556px;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.form-inp input {
  width: 500px;
  border: none;
  outline: none;
}

.row-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
  align-items: center;
  padding-top: 10px;
}

.main-order-btn {
  width: 182px;
  height: 50px;
  background-color: #f15834;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: 700;
}

.markets-header h4 {
  font-weight: 800;
  font-size: 25px;
}

.store-list-items {
  gap: 20px;
  padding-top: 15px;
  padding-left: 10px;
}
.store-list-items a {
  width: 240px;
  height: 176px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9px;
  background-color: white;
}
.store-list-items img {
  width: 160px;
  height: 113px;
  -o-object-fit: contain;
     object-fit: contain;
}

.more-btn {
  width: 224px;
  height: 47px;
  border: 2px solid #f15834;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 19px;
  font-weight: 600;
  color: #f15834;
  gap: 8px;
  text-decoration: none;
}

.markets-foot, .news-foot {
  margin-top: 25px;
  display: flex;
  justify-content: end;
}

.news-main-pg {
  margin-top: 50px;
}

.news-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.news-head h4 {
  font-weight: 800;
  font-size: 25px;
}

.main-pg-news {
  width: 1044px;
  gap: 25px;
  display: flex;
}

.news-card {
  width: 200px;
  height: 304px;
  border-radius: 3px;
  gap: 5px;
  text-decoration: none;
}
.news-card img {
  width: 220px;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}

.card-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 12px;
  color: #9b9b9b;
  margin-top: 30px;
}

.card-text-head {
  font-size: 16px;
  font-weight: 700;
  color: black;
  text-align: center;
  text-decoration: none;
}

.card-date {
  margin-left: 8px;
  margin-top: 10px;
}

.news-card-1 {
  width: 240px;
  height: 314px;
  border-radius: 5px;
  background-color: white;
}

.news-list-items {
  width: 1020px;
  height: 314px;
}

.tariff-main-pg {
  margin-top: 130px;
}

.tarif-head h4 {
  font-weight: 700;
  font-size: 25px;
}

.tarif-block {
  width: 1030px;
  height: 899px;
}

.tariff-card-left {
  width: 515px;
  height: 899px;
  background-color: white;
  border-radius: 6px;
}

.tariff-card-right {
  width: 498px;
  height: 899px;
  background-color: white;
  border-radius: 6px;
}

.tarif-card {
  display: flex;
  gap: 15px;
  overflow: hidden;
  border-radius: 6px;
}

.tarif-card-header {
  width: 515px;
  height: 70px;
  display: flex;
  padding: 24px 20px;
  gap: 24px;
  align-items: center;
  border-bottom: 1px solid rgba(155, 155, 155, 0.3137254902);
}
.tarif-card-header h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0;
}
.tarif-card-header img {
  width: 16px;
  height: 16px;
}

.tarif-item {
  width: 168px;
  height: 43px;
  color: black;
  font-size: 12px;
  padding: 0 !important;
}
.tarif-item span {
  color: black;
  font-size: 13px;
  padding-left: 5px;
}

.tarif-item-row {
  margin-top: 15px;
  width: 515px;
  padding-left: 10px;
  margin-left: 0px;
  border-bottom: 1px solid rgba(155, 155, 155, 0.3137254902);
}

.tarif-table {
  width: 515px;
  height: 70px;
}

.tarif-table-body {
  padding: 25px !important;
  width: 320px;
}
.tarif-table-body span {
  font-size: 18px;
  font-weight: 800;
}

.price-2 {
  display: flex;
  justify-content: end;
}

.miidle-sec {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 760px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
  }
  .customcontainer {
    width: 375px;
    margin: 0;
    padding: 0;
  }
  .middlecontainer {
    max-width: 100%;
    width: 100%;
  }
  .person-icon-mobile {
    display: flex;
    gap: 10px;
  }
  .hamburger-menu-icn {
    margin-top: 2px;
  }
  .header-top {
    display: none;
  }
  .header-lower {
    padding-left: 0;
    margin-left: 10px;
    display: flex;
    gap: 10px;
  }
  .outer-box {
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
  .menu-order-btn {
    width: 270px;
    height: 40px;
    background-color: #f15834;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 400;
    padding-left: 10px;
  }
  .nav-item {
    border-bottom: 1px solid;
    border-color: rgba(240, 241, 243, 0.292);
  }
  .login-btn {
    display: none !important;
  }
  .main-menu {
    display: none;
  }
  .search-icon-head i {
    font-size: 18px;
  }
  .basket-svg svg {
    width: 20px;
    padding-bottom: 2px;
  }
  .menu-icon {
    font-size: 18px;
    padding-top: 2px;
  }
  #offcanvasNavbar {
    width: 80%;
    background-color: #232331;
  }
  .nav-item a {
    color: white;
  }
  .btn-close-mob-menu {
    color: #f15834;
    border: none;
    background-color: #232331;
  }
  .btn-close-mob-menu i {
    font-size: 25px;
  }
  .slick-prev {
    opacity: 40%;
    left: 20px;
    z-index: 99;
  }
  .slick-next {
    z-index: 99;
    right: 20px;
    opacity: 40% !important;
  }
  .slick-prev:before,
  .slick-next:before {
    color: rgb(249, 241, 241) !important;
    font-size: 25px;
  }
  .slick-next, .slick-prev:hover {
    opacity: 90% !important;
    color: rgba(240, 248, 255, 0.458);
  }
  .slick-dots {
    top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slick-dots li button {
    font-size: 10px !important;
  }
  .slick-dots li button:before {
    font-size: 7px;
  }
  .markets-header h4 {
    margin-left: 20px;
    margin-top: 50px;
  }
  .store-list-items {
    width: 375px;
    display: flex;
    justify-content: center;
  }
  .store-list-items a {
    width: 160px;
    height: 111px;
  }
  .store-list-items img {
    width: 140px;
    height: 113px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .more-btn {
    width: 200px;
    margin-right: 15px;
  }
  .tracking-form {
    width: 345px;
    height: 237px;
    margin-top: 10px;
    display: block;
  }
  .tracking-form h4 {
    font-size: 25px;
    margin-top: 0px;
    text-align: start;
    width: 280px;
  }
  .order-form {
    width: 305px;
    height: 140px;
    position: relative;
    left: 20px;
    top: 15px;
  }
  .main-order-btn {
    width: 262px;
    height: 50px;
    margin-top: 10px;
  }
  .order-inp {
    width: 222px !important;
  }
  .news-head h4 {
    font-size: 20px;
    margin-left: 15px;
  }
  .main-pg-news {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
  }
  .news-card-1 {
    width: 355px;
    height: 298px;
  }
  .news-card img {
    width: 350px;
    height: 200px;
  }
  .card-text-head {
    text-align: start;
  }
  .card-body {
    margin-top: 20px;
  }
  .news-foot {
    display: flex;
    margin-left: 170px;
  }
  .tariff-main-pg {
    margin-top: 50px;
  }
  .tarif-block {
    width: 355px;
    height: 978px;
  }
}/*# sourceMappingURL=index.css.map */