* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

.header-top {
  background-color: #232331;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-left ul {
  display: flex;
  gap: 15px;
  margin-top: 15px;
  padding-left: 50px;
}
.top-left ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  color: white;
  font-size: 13px;
}

.head-icons {
  color: white;
  display: flex;
  gap: 15px;
  padding-right: 50px;
  font-size: 14px;
}
.head-icons :hover {
  color: #f15834;
  transition: 0.5s;
  cursor: pointer;
}

.header-lower {
  height: 70px;
  display: flex;
  align-items: center;
  padding-left: 50px;
  gap: 150px;
  justify-content: space-between;
}

.main-menu {
  padding-right: 160px;
}
.main-menu .navigation {
  display: flex;
  gap: 20px;
  padding: 0;
  margin-bottom: 0;
}

.nav-name {
  font-size: 13px;
  text-decoration: none;
  font-weight: 600;
  color: black;
  cursor: pointer;
}

.nav-name:hover {
  color: #f15834;
  transition: 0.2s;
}

.outer-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.outer-box-item1, .outer-box-item2, .outer-box-item3, .outer-box-item4 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.outer-box-item5, .outer-box-item6 {
  display: none;
}

.search-icon-head {
  font-size: 19px;
}

.login-tag {
  color: white;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 700;
  z-index: 999;
  text-decoration: none;
}

.login-btn {
  width: 100px;
  height: 70px;
  background-color: #f15834;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.login-btn::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

.login-btn:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.login-btn::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: #232331;
  transition: transform 0.4s ease-in-out;
}

@media (orientation: landscape) {
  .login-btn {
    grid-auto-flow: column;
    color: white;
  }
}
.mobile-menu-items {
  display: none;
}

.person-icon-mobile a, .hamburger-menu-icn a {
  display: none;
}

.img-card img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}

.slick-prev {
  opacity: 40%;
  left: 100px;
  z-index: 99;
}

.slick-next {
  z-index: 99;
  right: 100px;
  opacity: 40% !important;
}

.slick-prev:before,
.slick-next:before {
  color: rgb(249, 241, 241) !important;
  font-size: 45px;
}

.slick-next, .slick-prev:hover {
  opacity: 90% !important;
  color: rgba(240, 248, 255, 0.458);
}

.slick-dots {
  bottom: 10px;
  font-size: 50px;
}
.slick-dots li button {
  font-size: 10px !important;
}

.slick-dots li button:before {
  font-size: 10px;
}

@media only screen and (max-width: 760px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
  }
  .header-top {
    display: none;
  }
  .header-lower {
    padding-left: 0;
    margin-left: 10px;
    display: flex;
    gap: 10px;
  }
  .outer-box {
    margin-right: 15px;
    display: flex;
    gap: 12px;
  }
  .login-btn {
    display: none !important;
  }
  .main-menu {
    display: none;
  }
  .search-icon-head i {
    font-size: 18px;
  }
  .basket-svg svg {
    width: 20px;
    padding-bottom: 2px;
  }
  .menu-icon {
    font-size: 18px;
    padding-top: 2px;
  }
  #offcanvasNavbar {
    width: 80%;
    background-color: #232331;
  }
  .nav-item a {
    color: white;
  }
  .btn-close-mob-menu {
    color: #f15834;
    border: none;
    background-color: #232331;
  }
  .btn-close-mob-menu i {
    font-size: 25px;
  }
  .slick-prev {
    opacity: 40%;
    left: 20px;
    z-index: 99;
  }
  .slick-next {
    z-index: 99;
    right: 20px;
    opacity: 40% !important;
  }
  .slick-prev:before,
  .slick-next:before {
    color: rgb(249, 241, 241) !important;
    font-size: 25px;
  }
  .slick-next, .slick-prev:hover {
    opacity: 90% !important;
    color: rgba(240, 248, 255, 0.458);
  }
  .slick-dots {
    top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slick-dots li button {
    font-size: 10px !important;
  }
  .slick-dots li button:before {
    font-size: 7px;
  }
}/*# sourceMappingURL=index.css.map */